.customerInfo {
    display: table-cell;
    vertical-align: top;
    position: relative;

    box-sizing: border-box;
    width: 76%;
    border-radius: 5px;
    background: none;
    border: none;
    box-shadow: none;
}

.createCustomerButton {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d8ee39;
    box-shadow: 0 5px 20px rgba(84, 250, 5, 0.87);
    border-radius: 5px;

    height: 38px;
    padding: 7px 30px;
    margin-left: 80%;
    margin-top: 30px;

    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

.table h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    padding-right: 15px;
}

.table thead th {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: left;
    border: none;
    text-transform: uppercase;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 15px;
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table tbody td {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table tbody tr:nth-child(even){
    background: #f3f3f3;
}
.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

.editCustomer, .deleteCustomer {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    padding-right: 15px;
}

